<div id='parkingList' style="margin:20px 10px">  
    <table>
        <thead>
            <td>停車場</td>
            <td>剩餘車位</td>
        </thead>
        <tbody>
            <tr ng-repeat='park in parking.parkingLots'>
                <td>{{park.name | limitStringLength:10}}</td>
                <td>{{park.avail}}</td>
            </tr>
        </tbody>
    </table>
    <!-- <ul>
        <li><b>停車場</b></li>
        <li><b>剩餘車位</b></li>
    </ul>
    <ul  ng-repeat='park in parking.parkingLots'>
        <li>{{park.name | limitStringLength:10}}</li>
        <li>{{park.avail}}</li>        
    </ul>     -->
</div>

